<section class="venue-page">

  <h2>Wedding Venue</h2>

  <div class="venue-container">

    <!-- Venue Details -->
    <div class="venue-details">
      <h3>Radha Krishna Hall</h3>
      <p>
       Bolwad Rd,<br>
        Miraj, Maharashtra 416410<br>
        India
      </p>

      <p class="date">
        March 15, 2026<br>
        11:00 AM Onwards
      </p>

      <a 
        href="https://maps.app.goo.gl/r2EAQbh9BNqHAKzm8"
        target="_blank"
        class="map-button">
        Open in Google Maps
      </a>
    </div>

    <!-- Google Map -->
    <div class="venue-map">
      <iframe
        src="https://www.google.com/maps?q=Miraj,Maharashtra&output=embed"
        loading="lazy"
        allowfullscreen>
      </iframe>
    </div>

  </div>

</section>
